.container {
  background-origin: content-box;

  isolation: isolate;
  position: relative;
  padding: 8rem 0rem;
  /* background: url("/cta_bg.svg") no-repeat center center; */
  background-color: white;
  background-size: cover;
}
.container * {
  background-color: transparent;
}

.content_container {
  display: flex;
  justify-content:  center;
  align-items: center;
  gap: clamp(5rem, 5vw, 25rem);
}

.text {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 600;
  color: var(--clr-text-muted);
  line-height: 1.4;
  text-align: center;
}
.highlight {
  color: var(--clr-text-primary);
}

.bg {
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0
}

.bg_left {
  width: 40vw;
  object-fit: cover;
  display: inline-block;
}


.bg_right {
  width: 40vw;
  object-fit: cover;
  display: inline-block;

}
.img_container {
  display: flex;
  gap: 5rem;
}
.img_row_1 {
  position: relative;
  top: -4rem;
  display: flex;
  flex-direction: column;
}


.img_row_2 {
  position: relative;
  top: 4rem;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  .content_container {
    flex-direction: column;
    gap: 5rem;
  }
  .bg {
    display: none;
  }

  .img_container {
    flex-direction: column;
    gap: 1rem;
  }

  .img_row_1 {
    top:0
  }
  .img_row_2 {
    top: 0
  }

}

@media only screen and (max-width: 600px) {
  .container{
    padding-top: 4rem;
    padding-bottom: 4rem;

  };
}
